<html>
<head>
    <title>Demo sockie io</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
<input type="text" id="txtRoom">
<input type="button" id="btnTaoRoom" value="Tao Room">
<div id="left">
    <h3>
        ROOMS DANG CO
    </h3>
    <div id="dsRoom"></div>
</div>
<h4 id="roomHienTai">...</h4>
<div id="right">
        <input type="text" id="textMessage">
    <input type="button" id="btnChat" value="Chat">
</div>
</body>
</html>